/* HERO SECTION STYLING */
.hero-section {
  min-height: 60vh;
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Ted_Kaczynski.jpg")
    center/cover no-repeat;
  position: relative;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* dark overlay */
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.hero-section h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-section p {
  max-width: 600px;
  margin: 0 auto;
}
